<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wakoo.fun.mapper.SysLogMapper">
    <insert id="save">
        INSERT INTO log_info (id, `module`, `type`, message, req_param, res_param, take_up_time, user_id, user_name, `method`, uri, ip, version, create_time)
        VALUES (#{sysLog.id} , #{sysLog.module}, #{sysLog.type}, #{sysLog.message}, #{sysLog.reqParam},#{sysLog.resParam},#{sysLog.takeUpTime},#{sysLog.userId}, #{sysLog.userName}, #{sysLog.method}, #{sysLog.uri}, #{sysLog.ip}, #{sysLog.version}, #{sysLog.createTime})
    </insert>
    <insert id="error">
        INSERT INTO log_error_info (id, req_param, `name`, message, user_id, user_name, `method`, uri, ip, version, create_time)
        VALUES (#{sysLog.id} , #{sysLog.reqParam}, #{sysLog.name}, #{sysLog.message}, #{sysLog.userId},#{sysLog.userName},#{sysLog.method},#{sysLog.uri}, #{sysLog.ip}, #{sysLog.version}, #{sysLog.createTime})
    </insert>
    <select id="queryLog" resultType="wakoo.fun.log.LogInfo">
            SELECT id, `module`, `type`, message, req_param, take_up_time, user_id, user_name, `method`, uri, ip, version, create_time
            FROM log_info
            WHERE  `module` LIKE CONCAT('%', #{keyword}, '%')
               or `type` LIKE CONCAT('%', #{keyword}, '%')
               or user_name LIKE CONCAT('%', #{keyword}, '%')
              or message LIKE CONCAT('%', #{keyword}, '%')
               OR req_param LIKE CONCAT('%', #{keyword}, '%')
               OR `method` LIKE CONCAT('%', #{keyword}, '%')
               OR uri LIKE CONCAT('%', #{keyword}, '%')
               OR ip LIKE CONCAT('%', #{keyword}, '%')
            <if test="roleId!=null">
                <if test="roleId!=0 and roleId!=1">
                    and user_name=#{userName}
                </if>
            </if>
       </select>
</mapper>