<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wakoo.fun.mapper.RoleMapper">
    <update id="updMess">
        UPDATE sys_role
        SET rid=#{role.rid},
            role_name=#{role.roleName},
            menus=#{role.menus},
            status=#{role.status},
            update_time=NOW()
        WHERE id = #{role.id}
    </update>
    <update id="updMessRole">
        <foreach collection="role" item="menuId" index="index" separator=";">
            UPDATE sys_permission
            SET status = 1
            WHERE menu_id = #{menuId}
        </foreach>
    </update>
    <update id="updStatusRole">
        UPDATE sys_role
        <set>
            <if test="status==1">status=0</if>
            <if test="status==0">status=1</if>
        </set>
        WHERE id=#{id}
    </update>
    <update id="UpdRoleStatus">
        UPDATE sys_permission
        SET `status` = 0
        WHERE role_id = #{roleId}
    </update>
    <update id="modifyTheLowerLevelPermissionsConsistently">
        UPDATE sys_role
        SET menus=#{updRoleDto.menus},
            status=#{updRoleDto.status},
            update_time=NOW()
        WHERE rid > #{updRoleDto.rid}
    </update>
    <delete id="delRole">
        DELETE
        FROM sys_permission
        WHERE role_id = #{idList}
    </delete>

    <select id="getAllRole" resultType="wakoo.fun.pojo.Role">
        SELECT id,
               rid,
               role_code,
               role_name,
               menus,
               status,
               create_time,
               update_time
        FROM sys_role
        WHERE
            rid>=#{userId} and(role_code LIKE CONCAT('%', #{keyword}, '%')
            OR role_name LIKE CONCAT('%', #{keyword}, '%')
            OR menus LIKE CONCAT('%', #{keyword}, '%')
            OR create_time LIKE CONCAT('%', #{keyword}, '%')
            OR update_time LIKE CONCAT('%', #{keyword}, '%'))
    </select>
    <select id="getButton" resultType="wakoo.fun.pojo.ButtonPermissions">
        SELECT id,
               path,
               component,
               NAME label,
               meta,
               type,
               p_id,
               hidden,
               redirect,
               CACHE,
               icon,
               url,
               sort,
               LEVEL,
               enabled,
               create_time,
               update_time
        FROM sys_menu
        WHERE FIND_IN_SET(id, (
            SELECT menus
            FROM sys_role
            WHERE id = (SELECT rid
                        FROM sys_role
                        WHERE id = #{roleId})))
        ORDER BY sys_menu.sort
    </select>
    <select id="updGetAllPermissions" resultType="wakoo.fun.pojo.ButtonPermissions">
        SELECT id,
               path,
               component,
               name label,
               meta,
               type,
               p_id,
               hidden,
               redirect,
               cache,
               icon,
               url,
               sort,
               level,
               enabled,
               create_time,
               update_time
        from sys_menu
        WHERE FIND_IN_SET(id, (SELECT menus FROM sys_role WHERE id = #{id})) > 0
    </select>
    <select id="getRoleNum" resultType="java.lang.Integer">
        SELECT COUNT(id)
        FROM sys_user_role
        WHERE role_id = #{id}
    </select>
    <select id="getByIdRoleName" resultType="java.lang.Integer">
        SELECT id
        FROM sys_role
        WHERE id = (SELECT rid FROM sys_role WHERE id = #{roleId})
    </select>
    <select id="getTwoRoleName" resultType="wakoo.fun.dto.RoleIdRoleName">
        SELECT role_name, status
        FROM sys_role
        WHERE id = #{roleId}
    </select>
    <select id="getButtonById" resultType="wakoo.fun.dto.RoleGetButonById">
        SELECT id, type
        FROM sys_menu
        WHERE FIND_IN_SET(id, (SELECT menus FROM sys_role WHERE id = #{roleId}))
    </select>
    <select id="getOneByid" resultType="java.lang.Integer">
        SELECT id
        FROM sys_menu
        WHERE type = 0
          AND enabled = 1
        ORDER BY sort
    </select>
    <select id="getParentIdById" resultType="java.lang.String">
        SELECT id
        FROM sys_menu
        WHERE id = (SELECT p_id FROM sys_menu WHERE id = #{id})
    </select>
    <select id="getButtonRolea" resultType="java.util.Map">
        SELECT name, hidden
        FROM sys_menu
        WHERE FIND_IN_SET(id, (SELECT menus
                               FROM sys_role
                               WHERE id = (SELECT role_id FROM sys_user_role WHERE user_id = #{roleId})))
          AND type = 10
          AND p_id = #{menuId}
          AND name != '查看'
    </select>
    <select id="getTowButton" resultType="java.util.Map">
        SELECT `name`, hidden
        FROM sys_menu
        WHERE p_id = #{menuId} AND name != '查看'
    </select>
    <select id="exampleQueryWhetherARoleIsDisplayed" resultType="java.lang.Integer">
        SELECT COUNT(rid)
        FROM sys_role
        WHERE rid = #{id}
    </select>
    <select id="getPermission" resultType="Integer">
        SELECT id
        FROM sys_menu
        WHERE id IN (
            SELECT p_id
            FROM sys_menu
            WHERE FIND_IN_SET(id, #{menus}) > 0
        )
    </select>
    <select id="getParentIdByRealId" resultType="java.lang.String">
        SELECT menus
        FROM sys_role
        WHERE rid = #{rid} LIMIT 0,1
    </select>
    <select id="getsTheParentMenu"  resultType="Integer">
        SELECT id
        FROM sys_menu
        WHERE id IN (SELECT p_id
                     FROM sys_menu
                     WHERE id IN (SELECT id
                                  FROM sys_menu
                                  WHERE id IN (SELECT p_id
                                               FROM sys_menu
                                               WHERE FIND_IN_SET(id,#{menus}) >
                                                     0)
                     ))
    </select>
    <select id="exampleQueryWhetherTheParentExists" resultType="java.lang.Integer">
        SELECT rid FROM sys_role WHERE rid=#{rid}
    </select>
    <select id="exampleQueryTheParentIdUnderId" resultType="java.lang.Integer">
        SELECT rid FROM sys_role WHERE id=#{id}
    </select>

    <insert id="addRole" parameterType="wakoo.fun.dto.RoleButtonDto">
        INSERT INTO sys_role(rid, role_name,role_code,menus, status, create_time)
        VALUES (#{role.fId}, #{role.name}, #{role.roleCode},#{aaa}, #{role.status}, NOW())
    </insert>

</mapper>